.fav-food-img-container {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-image: url(../images/headerpic.jpg);
  background-attachment: fixed;
  background-size: cover;
}


.about-container {
  text-align: center;
  padding: 20px 200px;
  background-color: white;
}

#critics {
  width: 100%
}
/* ALC SECTION ON THE MAIN PAGE */
.alc-container {
  height: 60vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
}
.beer-container {
  float: left;
}
.alc-img {
  width: 700px;
  height: 412px;
}
.alc-summary {
  text-align: center;
  padding-top: 10%;
  /* float: right; */
  background-color: #FABC60;
  height: 412px;
}

/* MENU SECTION */
#menu-title {
  color: white;
}

.menu-container {
  height: 300px;
  background-image: url(../images/menu-background.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.drink-menu,
.food-category {
  list-style: none;
  float: left;
  padding: 15px;
}

.drinks {
  background-color: rgba(255, 153, 0, 0.952);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 240%;
  cursor: pointer;
 
}

.food-category-link {
  /* text-decoration: none;
  color: #fff; */
  background-color: rgba(233, 181, 102, 0.952);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.drinks:hover,
.food-category-link:hover {
  box-shadow: 0 12px 16px 0 rgba(255, 252, 252, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);

}
/* SPECIAL EVENTS SECTION */
.special-events-container {
  /* height: 60vh; */
  height: 412px;

  width: 100vw;
  background-color: rgb(128, 125, 125);
}

.tailgate {
  /* width: 700px;
  height: 412px; */
  float: right;
}

.fans-img {
  width: 700px;
  height: 412px;
  /* float: left; */
}

.special-events-summary {
  float: left;
  text-align: center;
  padding-top: 10%;
  margin-left: 1%;
  background-color: #caa256;
  color: white;
  height: 412px;
}

/* CATERING SECTION */
.catering-container {
  /* height: 60vh; */
  height: 412px;

  width: 100vw;
  background-color: rgb(221, 217, 217);
}
.platter-container {
  float: right;
}
#explodeVideo {
  /* position: fixed; */
  /* right: 0;
  bottom: 0; */
  width: 732px;
  height: 100%;
  /* min-width: 100%;
  min-height: 100%; */
}
/* .platter-img {
  width: 700px;
  height: 412px;
} */
.catering-summary {
  /* float: right; */
  text-align: center;
  padding-top: 10%;
  background-color: #107595;
  color: white;
  height: 412px;
}
