.nav-bar {
  opacity: .8;
}
.reservation-background-container {
  height: 115vh;
  width: 100vw;
  background-position: center;
  background-image: url(../images/reservationPageBackground.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(46, 46, 46, 0.4);
  padding-top: 200px;
}

.reserve-form-container {
  height: 500px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.904);
  margin: auto;
  display: flex;
}

.reserveForm {
  width: 400px;
  margin: auto;
  text-align: center;
  align-content: center;
}

.input {
  border: none;
  width: 200px;
  height: 40px;
  padding-top: 15px;
  margin-bottom: 10px;
}

::placeholder {
  color: rgb(127, 127, 131);
  font-family: 'Special Elite';
}
