* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

.nav-bar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fadfd0;
  opacity: .6;
  transition: opacity .5s ease-in;
}

.nav-bar:hover {
  opacity: .9;
  transition: opacity .5s ease-in;
}

.logo {
  color: #311204;
  text-align: center;
  padding: 20px 0 10px;
}

.nav-items {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 0 10px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: #311204;
  text-decoration: none;
  padding: 5px 0;
  border-bottom: 1px solid #fadfd0;
  transition: all .3s ease-in;
}

.nav-link:hover {
  color: #6b2f15;
  border-bottom: 1px solid #68280c;
  transition: all .5s ease-in;
}

.fav-food-img-container {
  height: 100vh;
  width: 100vw;
  background-image: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/11/21/15/thanksgiving-feast-main.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.about-container {
  text-align: center;
  padding: 20px 200px;
  background-color: #fff8f8
}

.menu-container {
  height: 300px;
  background-image: url("https://www.thespruceeats.com/thmb/-JS_DyFYkSUh_bPchSZGvbooKKw=/3776x2832/smart/filters:no_upscale()/spicy-lime-marinated-eye-of-round-steak-recipe-333788-hero-01-42a8d338594b4a4882d331559591f79e.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.food-category-list {
}

.food-category {
  list-style: none;
}

.food-category-link {
  text-decoration: none;
  color: #fff;
}


.footer-container {
  background-color: #302f2f;
  color: #fff;  
}

.address-wrapper{
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  padding: 20px;
}

.footer-logo {
  align-self: center;
}

.location-wrapper {
  text-align: center;
}

.social-media-items {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.social-media-item {
  list-style: none;
}

.social-media-link {
  color: #fff;
}

.form-input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: inherit;
  color: #fff;
  padding: 5px 0;
  border-bottom: 1px solid #fff;
  transition: all .5s ease-in-out;
  margin: 10px 0;
}

.form-input:focus {
  outline: none;
  transform: scale(1.1);
  transition: all .5s ease-in-out;
}

.sign-up-btn {
  display: block;
  font-family: inherit;
  background-color: #fff;
  font-size: inherit;
  color: #302f2f;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all .5s ease-in;
}

.sign-up-btn:hover {
  background-color: #302f2f;
  color: #fff;
  box-shadow: 0 0 0 3px #fff;
  transition: all .5s ease-in;
}

.sign-up-btn:focus {
  outline: none;
  transform: scale(1.1);
  transition: all .5s ease-in;
}  

.credits {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}

.credit-item {
  list-style: none;
}

.credit-link {
  color: #fff;
  text-decoration: none;
  transition: all .5s ease-in;
}

.credit-link:hover {
  color: #ffc7af;
  transition: all .5s ease-in;
}

